h1 {
    text-align: center;
}
.card_title {
    font-size: 20px;
}

.card_button {
    font-size: 20px;
    width: 150px;
    height: 30px;
    background-color: rgb(191, 189, 189);
    border-radius: 15px;
}

.card_img {
    width: 500px;
    height: 300px;
}

.card_video {
    width: 200px;
    height: 400px;
    margin-top: -40px;
}

.card {
    text-align: center;
    }

#txt_welcome {
    text-align: center; 
    margin-bottom: 50px;
    }